config==0.5.1
converter==1.0.0
gradio==4.26.0
ipython==8.12.3
ipywidgets==8.1.2
nncf==2.9.0
openvino==2024.0.0
openvino_dev==2024.0.0
optimum==1.18.1
optimum_intel==1.16.0
torch==2.2.2
torch==2.1.0+cpu
transformers==4.39.3
